
<!DOCTYPE html>
<html lang="en">
<body>
        <h1>My Cool Page</h1>
        <% if (person) {  %>
                <h2><%= person.name %><h2>
                <h3><%= person.other %></h3>
        <% } %>
</body>
</html>